# roles/5g/ueransim/deploy/tasks/main.yml
---
- name: Deploy UERANSIM gNodeB
  kubernetes.core.k8s:
    state: present
    src: "{{ ueransim_root }}/ueransim-gnb"
    namespace: "{{ ran_ns | default('open5gs') }}"
    apply: true
  environment:
    KUSTOMIZE_PLUGIN_HOME: "/tmp"  # facultatif, si kustomize utilise des plugins
  ignore_errors: false

- name: Wait for UERANSIM gNB pod to be ready
  community.kubernetes.k8s_info:
    kind: Pod
    namespace: "{{ ran_ns | default('open5gs') }}"
    label_selectors:
      - "component=gnb"
  register: gnb_pods
  until: gnb_pods.resources | selectattr('status.phase', 'equalto', 'Running') | list | length > 0
  retries: 20
  delay: 5

- name: Deploy UERANSIM UEs
  kubernetes.core.k8s:
    state: present
    src: "{{ ueransim_root }}/ueransim-ue"
    namespace: "{{ ran_ns | default('open5gs') }}"
    apply: true
  environment:
    KUSTOMIZE_PLUGIN_HOME: "/tmp"
  ignore_errors: false

- name: Wait for UERANSIM UE pods to be running
  community.kubernetes.k8s_info:
    kind: Pod
    namespace: "{{ ran_ns | default('open5gs') }}"
    label_selectors:
      - "component=ue"
  register: ue_pods
  until: ue_pods.resources | selectattr('status.phase', 'equalto', 'Running') | list | length >= 3
  retries: 30
  delay: 5
