---
- name: Deploy UERANSIM gNodeB 
  block:
    - name: Patch gNB Deployment to run on ran_node
      kubernetes.core.k8s:
        state: patched
        namespace: "{{ ran_ns | default('open5gs') }}"
        definition:
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: ueransim-gnb
          spec:
            template:
              spec:
                nodeSelector:
                  kubernetes.io/hostname: "{{ ran_node_name }}"

    - name: Deploy gNB using kustomize
      kubernetes.core.k8s:
        state: present
        src: "{{ ueransim_root }}/ueransim-gnb"
        apply: true
        namespace: "{{ ran_ns | default('open5gs') }}"

- name: Deploy UERANSIM UEs 
  block:
    - name: Patch UE Deployments to run on ran_node
      kubernetes.core.k8s:
        state: patched
        namespace: "{{ ran_ns | default('open5gs') }}"
        definition:
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: ueransim-ue1
          spec:
            template:
              spec:
                nodeSelector:
                  kubernetes.io/hostname: "{{ ran_node_name }}"

    - name: Patch UE Deployments to run on ran_node
      kubernetes.core.k8s:
        state: patched
        namespace: "{{ ran_ns | default('open5gs') }}"
        definition:
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: ueransim-ue2
          spec:
            template:
              spec:
                nodeSelector:
                  kubernetes.io/hostname: "{{ ran_node_name }}"

    - name: Patch UE Deployments to run on ran_node
      kubernetes.core.k8s:
        state: patched
        namespace: "{{ ran_ns | default('open5gs') }}"
        definition:
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: ueransim-ue3
          spec:
            template:
              spec:
                nodeSelector:
                  kubernetes.io/hostname: "{{ ran_node_name }}"

    - name: Deploy UEs using kustomize
      kubernetes.core.k8s:
        state: present
        src: "{{ ueransim_root }}/ueransim-ue"
        apply: true
        namespace: "{{ ran_ns | default('open5gs') }}"
