apiVersion: k8s.cni.cncf.io/v1
kind: NetworkAttachmentDefinition
metadata:
  name: ueransim-gnb-net
  namespace: {{ ran_ns | default('oai') }}
spec:
  config: |
    {
      "cniVersion": "0.3.1",
      "name": "ueransim-gnb-net",
      "type": "ovs",
      "bridge": "{{ oai_config.n3_bridge }}",
      "ipam": {
        "type": "static",
        "addresses": [
          {
            "address": "{{ net.gnb_n3_ip }}/24"
          }
        ]
      },
      "mtu": 1500
    }
