---
# ueransim UE Helm values for OAI

replicaCount: 1

image:
  repository: aligungr/ueransim  # Image ueransim standard
  pullPolicy: IfNotPresent
  tag: "latest"

podSecurityContext:
  privileged: true
  capabilities:
    add:
      - NET_ADMIN

containers:
  ue:
    securityContext:
      privileged: true
      capabilities:
        add:
          - NET_ADMIN
    
    resources:
      limits:
        cpu: 300m
        memory: 256Mi
      requests:
        cpu: 100m
        memory: 128Mi

# ============================================================
# UE Configuration
# ============================================================
config:
  imsi: "{{ fiveg.plmn.mcc }}{{ fiveg.plmn.mnc }}{{ ue_data.imsi_suffix }}"
  key: "{{ fiveg.security.full_key }}"
  opc: "{{ fiveg.security.opc }}"
  
  # Slice
  sst: {{ slice_data.sst | int }}
  sd: "{{ '0x%06x' | format(slice_data.sd | int) if slice_data.sd | int else '000000' }}"
  
  # gNB Connection
  gnbSearchList:
    - "ueransim-gnb"
    - "ueransim-gnb.{{ ran_ns | default('oai') }}.svc.cluster.local"


# ============================================================
# Affinity - optionnel
# ============================================================

# Option 2 : même nœud que gNB
# affinity:
#   podAffinity:
#     preferredDuringSchedulingIgnoredDuringExecution:
#       - weight: 100
#         podAffinityTerm:
#           labelSelector:
#             matchExpressions:
#               - key: app.kubernetes.io/instance
#                 operator: In
#                 values:
#                   - ueransim-gnb
#           topologyKey: kubernetes.io/hostname

nodeSelector: {{ ran_node_name }}
tolerations: []
