---
replicaCount: 1

image:
  repository: aligungr/ueransim
  pullPolicy: IfNotPresent
  tag: "latest"

podAnnotations:
  k8s.v1.cni.cncf.io/networks: '[{"name": "ueransim-gnb-net", "ips": ["{{ oai_config.gnb_n2_ip }}"]}, {"name": "ueransim-gnb-net", "ips": ["{{ oai_config.gnb_n3_ip }}"]}]'

podSecurityContext:
  privileged: true
  capabilities:
    add:
      - NET_ADMIN
      - NET_RAW

containers:
  gnb:
    securityContext:
      privileged: true
      capabilities:
        add:
          - NET_ADMIN
          - NET_RAW
    resources:
      limits:
        cpu: 500m
        memory: 512Mi
      requests:
        cpu: 200m
        memory: 256Mi

config:
  mcc: "{{ profile.plmn.mcc }}"
  mnc: "{{ profile.plmn.mnc }}"
  tac: {{ profile.plmn.tac | int }}
  linkIp: "0.0.0.0"
  ngapIp: "{{ oai_config.gnb_n2_ip }}"
  gtpIp: "{{ oai_config.gnb_n3_ip }}"
  amfAddr: "{{ oai_config.amf_ip }}"
  amfPort: {{ oai_config.amf_port | int }}
  slices:
{% for slice in profile.slices %}
    - sst: {{ slice.sst | int }}
      sd: "{{ '0x%06x' | format(slice.sd | int) if slice.sd | int else '000000' }}"
{% endfor %}

service:
  type: ClusterIP
  ports:
    ngap:
      port: 38412
      protocol: SCTP
      targetPort: 38412

affinity: {}
