---
- name: Ensure required packages are installed (Ubuntu/Debian)
  apt:
    name:
      - build-essential
      - cmake
      - git
      - python3-dev
      - python3-pip
      - swig
      - libboost-all-dev
      - libgmp-dev
      - libmpfr-dev
      - libusb-1.0-0-dev
      - libqt5svg5-dev
      - python3-numpy
      - python3-click
      - python3-lxml
      - python3-yaml
      - python3-sphinx
      - python3-pyqt5
    state: present
    update_cache: yes

- name: Clone UHD sources
  git:
    repo: "https://github.com/EttusResearch/uhd.git"
    version: "v{{ uhd_version }}"
    dest: "{{ uhd_src_dir }}"
    force: yes

- name: Build and install UHD
  shell: |
    mkdir -p {{ uhd_src_dir }}/build
    cd {{ uhd_src_dir }}/build
    cmake ../ -DCMAKE_INSTALL_PREFIX={{ install_prefix }}
    make -j{{ make_jobs }}
    make install
    ldconfig
  args:
    chdir: "{{ uhd_src_dir }}/build"

- name: Clone GNU Radio sources
  git:
    repo: "https://github.com/gnuradio/gnuradio.git"
    version: "v{{ gnuradio_version }}"
    dest: "{{ gnuradio_src_dir }}"
    force: yes

- name: Build and install GNU Radio
  shell: |
    mkdir -p {{ gnuradio_src_dir }}/build
    cd {{ gnuradio_src_dir }}/build
    cmake ../ -DCMAKE_INSTALL_PREFIX={{ install_prefix }}
    make -j{{ make_jobs }}
    make install
    ldconfig
  args:
    chdir: "{{ gnuradio_src_dir }}/build"

- name: Ensure /usr/local/bin is in PATH for all shells
  copy:
    dest: /etc/profile.d/usr_local_bin.sh
    content: 'export PATH={{ install_prefix }}/bin:$PATH'
    owner: root
    group: root
    mode: '0755'

- name: Verify UHD installation (uhd_fft)
  shell: |
    source /etc/profile.d/usr_local_bin.sh
    uhd_fft --help
  register: uhd_test
  failed_when: uhd_test.rc != 0

- name: Verify GNU Radio installation (gnuradio-companion)
  shell: |
    source /etc/profile.d/usr_local_bin.sh
    gnuradio-companion --version
  register: gnuradio_test
  failed_when: gnuradio_test.rc != 0

- name: Display UHD and GNU Radio test results
  debug:
    msg: |
      UHD test stdout: {{ uhd_test.stdout }}
      UHD test stderr: {{ uhd_test.stderr }}
      GNU Radio test stdout: {{ gnuradio_test.stdout }}
      GNU Radio test stderr: {{ gnuradio_test.stderr }}

