---
- name: Ensure required packages are installed (Ubuntu/Debian)
  apt:
    name:
      # Build essentials
      - build-essential
      - cmake
      - git
      # Python
      - python3-dev
      - python3-pip
      - python3-numpy
      - python3-mako
      - python3-sphinx
      - python3-lxml
      - python3-yaml
      - python3-click
      - python3-click-plugins
      - python3-zmq
      - python3-scipy
      - python3-gi
      - python3-gi-cairo
      - python3-pyqt5
      - python3-sip
      - pyqt5-dev-tools
      - python3-packaging
      # GTK/GObject
      - gobject-introspection
      - gir1.2-gtk-3.0
      # Libraries
      - swig
      - doxygen
      - libboost-all-dev
      - libgmp-dev
      - libmpfr-dev
      - libfftw3-dev
      - libusb-1.0-0-dev
      - libuhd-dev
      - libsndfile1-dev
      - libgsm1-dev
      - libasound2-dev
      - libpulse-dev
      - liblog4cpp5-dev
      - libzmq3-dev
      # Qt5
      - qtbase5-dev
      - libqt5opengl5-dev
      - libqwt-qt5-dev
      - libqt5svg5-dev
    state: present
    update_cache: yes

- name: Clean previous UHD build
  file:
    path: "{{ uhd_src_dir }}"
    state: absent

- name: Clean previous GNU Radio build
  file:
    path: "{{ gnuradio_src_dir }}"
    state: absent

- name: Clone UHD sources
  git:
    repo: "https://github.com/EttusResearch/uhd.git"
    version: "v{{ uhd_version }}"
    dest: "{{ uhd_src_dir }}"
    depth: 1
    force: yes

- name: Build and install UHD
  shell: |
    set -e
    mkdir -p {{ uhd_src_dir }}/host/build
    cd {{ uhd_src_dir }}/host/build
    cmake ../ \
      -DCMAKE_INSTALL_PREFIX={{ install_prefix }} \
      -DENABLE_PYTHON_API=ON \
      -DENABLE_TESTS=OFF
    make -j{{ make_jobs }}
    make install
    ldconfig
  args:
    executable: /bin/bash

- name: Verify UHD installation
  shell: |
    export PATH={{ install_prefix }}/bin:$PATH
    export LD_LIBRARY_PATH={{ install_prefix }}/lib:$LD_LIBRARY_PATH
    uhd_config_info --version
  args:
    executable: /bin/bash
  register: uhd_verify
  failed_when: uhd_verify.rc != 0

- name: Display UHD version
  debug:
    msg: "UHD installed: {{ uhd_verify.stdout }}"

- name: Clone GNU Radio sources
  git:
    repo: "https://github.com/gnuradio/gnuradio.git"
    version: "v{{ gnuradio_version }}"
    dest: "{{ gnuradio_src_dir }}"
    depth: 1
    force: yes

- name: Build and install GNU Radio
  shell: |
    set -e
    mkdir -p {{ gnuradio_src_dir }}/build
    cd {{ gnuradio_src_dir }}/build
    cmake ../ \
      -DCMAKE_INSTALL_PREFIX={{ install_prefix }} \
      -DENABLE_PYTHON=ON \
      -DENABLE_GR_UHD=ON \
      -DENABLE_GR_AUDIO=ON \
      -DENABLE_GR_ANALOG=ON \
      -DENABLE_GR_FFT=ON \
      -DENABLE_GR_FILTER=ON \
      -DENABLE_GR_BLOCKS=ON \
      -DENABLE_GR_CHANNELS=ON \
      -DENABLE_GR_DIGITAL=ON \
      -DENABLE_GR_FEC=ON \
      -DENABLE_GR_QTGUI=ON \
      -DENABLE_GR_TRELLIS=ON \
      -DENABLE_GR_VOCODER=ON \
      -DENABLE_GR_WAVELET=ON \
      -DENABLE_GR_ZEROMQ=ON
    make -j{{ make_jobs }}
    make install
    ldconfig
  args:
    executable: /bin/bash
  register: gnuradio_build
  failed_when: gnuradio_build.rc != 0

- name: Update library cache
  shell: ldconfig
  args:
    executable: /bin/bash

- name: Ensure /usr/local/bin is in PATH
  copy:
    dest: /etc/profile.d/usr_local_bin.sh
    content: 'export PATH={{ install_prefix }}/bin:$PATH'
    owner: root
    group: root
    mode: '0755'

- name: Update LD_LIBRARY_PATH
  copy:
    dest: /etc/ld.so.conf.d/usr_local.conf
    content: '{{ install_prefix }}/lib'
    owner: root
    group: root
    mode: '0644'

- name: Reload library cache
  shell: ldconfig
  args:
    executable: /bin/bash

- name: Verify GNU Radio installation
  shell: |
    export PATH={{ install_prefix }}/bin:$PATH
    export LD_LIBRARY_PATH={{ install_prefix }}/lib:$LD_LIBRARY_PATH
    gnuradio-config-info --version
  args:
    executable: /bin/bash
  register: gnuradio_verify
  failed_when: gnuradio_verify.rc != 0

- name: Display GNU Radio version
  debug:
    msg: "GNU Radio installed: {{ gnuradio_verify.stdout }}"
