---
# Install prerequisites
- name: Install dependencies (Ubuntu)
  apt:
    name:
      - build-essential
      - cmake
      - git
      - libboost-all-dev
      - python3-dev
      - python3-numpy
      - swig
      - libfftw3-dev
      - libcomedi-dev
      - libcppunit-dev
      - libgsl-dev
      - libusb-1.0-0-dev
      - libqt5opengl5-dev
      - python3-mako
      - python3-sphinx
      - doxygen
      - libxi-dev
      - libqt5svg5-dev
      - libqwt-qt5-dev
    state: present
    update_cache: yes

# -------------------
# UHD installation
# -------------------
- name: Clone UHD repository
  git:
    repo: https://github.com/EttusResearch/uhd.git
    dest: /tmp/uhd
    version: "v{{ uhd_version }}"
    force: yes

- name: Build UHD
  shell: |
    mkdir -p /tmp/uhd/build
    cd /tmp/uhd/build
    cmake ../ -DCMAKE_INSTALL_PREFIX={{ install_prefix }}
    make -j{{ make_jobs }}
    make install
    ldconfig
  args:
    executable: /bin/bash

- name: Verify UHD installation
  shell: |
    export PATH={{ install_prefix }}/bin:$PATH
    uhd_usrp_probe --version
  register: uhd_test
  changed_when: false

- name: Display UHD test result
  debug:
    msg: "UHD version: {{ uhd_test.stdout }}"

# -------------------
# GNU Radio installation
# -------------------
- name: Clone GNU Radio repository
  git:
    repo: https://github.com/gnuradio/gnuradio.git
    dest: /tmp/gnuradio
    version: "v{{ gnuradio_version }}"
    force: yes

- name: Build and install GNU Radio with utils and examples
  shell: |
    mkdir -p /tmp/gnuradio/build
    cd /tmp/gnuradio/build
    cmake ../ \
      -DCMAKE_INSTALL_PREFIX={{ install_prefix }} \
      -DENABLE_GR_UTILS=ON \
      -DENABLE_EXAMPLES=ON
    make -j{{ make_jobs }}
    make install
    ldconfig
  args:
    executable: /bin/bash

- name: Ensure /usr/local/bin is in PATH for all shells
  copy:
    dest: /etc/profile.d/usr_local_bin.sh
    content: 'export PATH={{ install_prefix }}/bin:$PATH'
    owner: root
    group: root
    mode: '0755'

- name: Test if UHD and GNU Radio tools are available
  shell: |
    export PATH={{ install_prefix }}/bin:$PATH
    uhd_fft --help
    gnuradio-companion --version
  register: gnuradio_test
  failed_when: gnuradio_test.rc != 0
  changed_when: false

- name: Display GNU Radio test result
  debug:
    msg: |
      UHD & GNU Radio utilities test:
      {{ gnuradio_test.stdout }}
