---
- name: Ensure required packages are installed (Ubuntu/Debian)
  apt:
    name:
      - build-essential
      - cmake
      - git
      - python3-dev
      - python3-pip
      - swig
      - libboost-all-dev
      - libgmp-dev
      - libmpfr-dev
      - libusb-1.0-0-dev
      - libqt5svg5-dev
      - python3-numpy
      - python3-click
      - python3-lxml
      - python3-yaml
      - python3-sphinx
      - python3-pyqt5
      - libqwt-qt5-dev
      - qtbase5-dev
      - python3-mako
      - python3-click-plugins
    state: present
    update_cache: yes

- name: Clone UHD sources
  git:
    repo: "https://github.com/EttusResearch/uhd.git"
    version: "v{{ uhd_version }}"
    dest: "{{ uhd_src_dir }}"
    force: yes

- name: Build and install UHD
  shell: |
    mkdir -p {{ uhd_src_dir }}/host/build
    cd {{ uhd_src_dir }}/host/build
    cmake ../ \
      -DCMAKE_INSTALL_PREFIX={{ install_prefix }} \
      -DENABLE_PYTHON_API=ON \
      -DENABLE_TESTS=OFF
    make -j{{ make_jobs }}
    make install
    ldconfig
  args:
    executable: /bin/bash
    chdir: "{{ uhd_src_dir }}/host/build"

- name: Clone GNU Radio sources
  git:
    repo: "https://github.com/gnuradio/gnuradio.git"
    version: "v{{ gnuradio_version }}"
    dest: "{{ gnuradio_src_dir }}"
    force: yes

- name: Build and install GNU Radio
  shell: |
    mkdir -p {{ gnuradio_src_dir }}/build
    cd {{ gnuradio_src_dir }}/build
    cmake ../ \
      -DCMAKE_INSTALL_PREFIX={{ install_prefix }} \
      -DENABLE_PYTHON=ON \
      -DENABLE_GR_UHD=ON
    make -j{{ make_jobs }}
    make install
    ldconfig
  args:
    executable: /bin/bash
    chdir: "{{ gnuradio_src_dir }}/build"

- name: Update library cache
  shell: ldconfig
  args:
    executable: /bin/bash

- name: Ensure /usr/local/bin is in PATH for all shells
  copy:
    dest: /etc/profile.d/usr_local_bin.sh
    content: 'export PATH={{ install_prefix }}/bin:$PATH'
    owner: root
    group: root
    mode: '0755'

- name: Update LD_LIBRARY_PATH
  copy:
    dest: /etc/ld.so.conf.d/usr_local.conf
    content: '{{ install_prefix }}/lib'
    owner: root
    group: root
    mode: '0644'

- name: Reload library cache after adding path
  shell: ldconfig
  args:
    executable: /bin/bash

- name: Verify UHD installation (uhd_config_info)
  shell: |
    export PATH={{ install_prefix }}/bin:$PATH
    export LD_LIBRARY_PATH={{ install_prefix }}/lib:$LD_LIBRARY_PATH
    uhd_config_info --version
  args:
    executable: /bin/bash
  register: uhd_test
  failed_when: uhd_test.rc != 0

- name: Verify GNU Radio installation and UHD tools (uhd_fft)
  shell: |
    export PATH={{ install_prefix }}/bin:$PATH
    export LD_LIBRARY_PATH={{ install_prefix }}/lib:$LD_LIBRARY_PATH
    uhd_fft --help
  args:
    executable: /bin/bash
  register: uhd_fft_test
  failed_when: uhd_fft_test.rc != 0

- name: Display UHD and GNU Radio test results
  debug:
    msg: |
      UHD version: {{ uhd_test.stdout }}
      uhd_fft available: {{ uhd_fft_test.rc == 0 }}
