---
- name: Install required packages for build
  apt:
    name:
      - build-essential
      - cmake
      - git
      - python3-dev
      - python3-pip
      - swig
      - libboost-all-dev
      - libgmp-dev
      - libmpfr-dev
      - libusb-1.0-0-dev
      - libfftw3-dev
      - libcomedi-dev
      - libcppunit-dev
      - doxygen
      - libgsl-dev
      - libqwt-qt5-dev
      - qt5-qmake
      - qtbase5-dev
      - python3-numpy
      - python3-mako
      - python3-sphinx
      - python3-lxml
      - python3-cheetah
      - libgsl-dev
      - git
      - python3-apt
    state: present
    update_cache: yes

- name: Clone UHD repository
  git:
    repo: https://github.com/EttusResearch/uhd.git
    dest: /usr/local/src/uhd
    version: "v{{ uhd_version }}"
    update: yes

- name: Build and install UHD
  shell: |
    mkdir -p /usr/local/src/uhd/build
    cd /usr/local/src/uhd/build
    cmake ../ -DCMAKE_INSTALL_PREFIX={{ install_prefix }}
    make -j{{ make_jobs }}
    make install
    ldconfig
  args:
    chdir: /usr/local/src/uhd/build

- name: Clone GNU Radio repository
  git:
    repo: https://github.com/gnuradio/gnuradio.git
    dest: /usr/local/src/gnuradio
    version: "v{{ gnuradio_version }}"
    update: yes

- name: Build and install GNU Radio
  shell: |
    mkdir -p /usr/local/src/gnuradio/build
    cd /usr/local/src/gnuradio/build
    cmake ../ -DCMAKE_INSTALL_PREFIX={{ install_prefix }}
    make -j{{ make_jobs }}
    make install
    ldconfig
  args:
    chdir: /usr/local/src/gnuradio/build

- name: Ensure /usr/local/bin is in PATH for all shells
  copy:
    dest: /etc/profile.d/usr_local_bin.sh
    content: "export PATH={{ install_prefix }}/bin:\$PATH"
    owner: root
    group: root
    mode: '0755'

- name: Test if UHD tools (uhd_fft) are available
  shell: |
    export PATH={{ install_prefix }}/bin:$PATH
    uhd_fft --help
  register: uhd_test
  failed_when: uhd_test.rc != 0

- name: Display UHD test result
  debug:
    msg: "UHD test command: {{ uhd_test.stdout }} {{ uhd_test.stderr }}"
